
.Hdr1BlackBld
        {
            font-family: Verdana, arial, sans-serif;
            font-size: 13px;
            font-weight: bold;
        }
        .Hdr2BlackBld
        {
            font-family: Verdana, arial, sans-serif;
            font-size: 11px;
            font-weight: bold;
        }
        ul {
	        font-family: Verdana, arial, sans-serif;
	        margin-top: 0em;
	        margin-right: 5px;
	        margin-left: 5px;
	        list-style-type: disc;
	        margin-bottom: 0.5em;
            padding-left: 10px;
        }

        ol {
	        font-family: Verdana, arial, sans-serif;
	        margin-top: 1em;
	        margin-right: 20px;
	        list-style-type: decimal;
        }

            li {
                padding-bottom: .75em;
                padding-left: -1px;
                margin-left: 1px;
                text-indent: -1px;
            }

        li.nobullet {
	        list-style-type: none;
        }

        li.special {
	        list-style-image: url(../images/bgDottedLine.gif); 
        }

        li.tight {
	        padding-bottom: 0em;
	        list-style-type: disc;
        }
        .BodyTextBlack, p, table {
	        font-family: Verdana, arial, sans-serif;
	        font-size : 11px;
	        font-weight : normal;
	        color : #000000;
        }
     /*   body {
            background-color: #666666;
            margin-top: 2px;
        }*/
        .content{
        	margin: 0px;
        	background-color: #FFF;
        	padding:3px;
        }
            td
            {
                vertical-align: top;
            }
            
       .tblCntTextBlack {
	        font-family: Verdana, Arial, Helvetica, sans-serif;
	        font-size: 11px;
	        color:#000;
	        padding: 2px;
        }

            .style1
            {
                background-color: #EEEEEE;
            }

            .style3
            {
                font-weight: bold;
                color: #FFFFFF;
                background-color: #666666;
                padding: 1px 1px 1px 1px;
            }